@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
:root{
    --rojo : #db0808;
    --fondo: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Bebas Neue', cursive;
font-family: 'Barlow Condensed', sans-serif  */
body{
    background: var(--fondo);
    font-family: 'Barlow Condensed', sans-serif ;
    color: #fff;
}

.contenedor{
    width: 90% ;
    margin: auto;
}

header {
    padding: 30px 0;
    text-shadow: 5px 5px 5px #000000;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color : var(--rojo);
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    
}

header nav a{
    font-family: 'Barlow Condensed', sans-serif;
    color: lightgray;
    text-decoration: none;
    font-size: large;
    margin-right: 25px ;
}
 header nav a:hover,
 header nav a.activo {
    color: rgb(255, 255, 255);
    text-shadow: 0px 4px 17px rgba(255,255,255,0.72);
    font-weight: bold;
 }


/**/
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}



/* MEDIA QUERIES*/

@media screen and (max-width: 800px){
    header .logotipo{
        margin-bottom : 10px;
        font-size: 1.5em ;
        
    }
    header .contenedor{
        flex-direction: column;
    }
    .documental-principal .titulo{
        transition: ease all 0.5s;
        font-size: 2em;
    }
    .documental-principal .descripcion{
        max-width: 100%;
    }
}
@media screen and (min-width: 800px){
    .documental-principal .titulo{
        transition: ease all 0.5s;
    }
}
